/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

#message{
    width:200px     ;
}

.conteudo.contato{
    min-height:350px;
}
body {
    font-size: 1em;
    font-family: 'calibri', sans-serif;
    background-color:#EBEBEB;
    p{
        font-size:13px;
        margin-bottom:1.2em;
        color:#4d4d4d;
    }
    h1, .clearfix{
        line-height: 1em;
    }

}
.conteudo{
    min-height:560px;
}

.bx-next, .bx-prev{
    display:block;
    width:54px;
    height:45px;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -32px;
}
footer, .push {
    height: 32px;
}

.left{
    float: left;
}
.right{
    float:right;
}
.page-imagem{
    float:right;
    margin-top:50px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.interna{
    width: 960px;
    margin:0 auto;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.projetos{
    .projeto-box{
        display:block;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Fontes*****/


@font-face {
    font-family: 'dosisbold';
    src: url('../fonts/dosis-bold-webfont.eot');
    src: url('../fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-bold-webfont.woff') format('woff'),
         url('../fonts/dosis-bold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@dosis: 'dosisregular', sans-serif;
/*****Cores*****/
@marrom: #3C3C3C;

header{
    width:100%;
    height:90px;
    background-color:@marrom;
    &.home{margin-top:40px;}
    .marca{
        width: 148px;
        height: 50px;
        background:url(../img/marca.png);
        margin: 18px 0 0;
    }
    nav{
        margin-left:50px;
        ul{
            margin:0;
            padding:0;
            li{
                float:left;
                a{  
                    display:block;
                    padding:0 23px;
                    line-height:90px;
                    color:#FFF;
                    font-family:@dosis;
                    font-size:18px;
                    text-transform:uppercase;
                    text-decoration:none;
                    &.active{
                        background:#505050;
                    }
                    &:hover{
                        color: #ccc;
                    }
                }
            }
        }
    }
    .social{
        margin:32px 0 0;
        padding:0;
        li{
            list-style-type: none;
            float:left;
            margin-left:4px;
            a{
                display:block;
                width: 24px;
                height: 24px;
                background:url(../img/facebook.png);
                margin-bottom:2px;
                &.twitter{
                    background:url(../img/twitter.png);
                }
            }
        }
    }
}

/*Footer*/
footer{
    width:100%;
    height:32px;
    background-color:@marrom;
    text-align:center;
    font-family:@dosis;
    color:#fff;
    font-size:12px;
    line-height:32px;
    img{
        margin-left:4px;
        margin-top:-6px;
    }
}

.conteudo{
    width:960px;
    margin:0 auto;
    padding:30px 0 30px;
}
.in-slide-content{
    position:absolute;
    bottom:94px;
    right:197px;
    display:inline-block;
    height:60px;
    background: rgba(60, 60, 60, 0.9);
    font-family:@dosis;
    font-size: 24px;
    color:#fff;
    line-height:60px;
    padding:0 20px;
    text-align:center;
    text-transform:uppercase;
    z-index:90000;
    a{
        z-index:90000;
        text-decoration:none;
        color:#fff;
        position:relative;
    }
}
.slide_nav, header, footer{
    z-index:11;
}
header, footer{
    position:relative
}
.bxslider{
    padding:0;
    margin:0;
    li{text-align:right;}
}
.slide_nav{
    width:115px;
    position:absolute;
    right:194px;
    bottom:156px;
}
.slide-content{
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    background: rgba(60, 60, 60, 0.9);
    font-family:@dosis;
    font-size: 24px;
    color:#fff;
    line-height:60px;
    padding:0 20px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
}
.control{
    width:54px;
    height:45px;
    background-color:rgba(60, 60, 60, 0.9);
    background-image:url(../img/anterior_home.png);
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
    float:left;
    margin-left:2px;
    &:hover{
        background-color:rgba(27, 27, 27, 0.9);
    }
}

.bx-wrapper{
    width: 300px !important;
    position: absolute !important;
    right: 197px !important;
    bottom: 94px !important;
    z-index: 12 !important;
    height: 60px !important;
}
.control#slide_right{
    background-image:url(../img/proximo_home.png);
}
.conteudo.pagina{
    .pagina-imagem{
        float:left;
        width:430px;
        height:470px;
    }
    .pagina-texto{
        &.has-image{
            width:500px;
            float:right;
        }
        text-align: left;
        p{
            margin-top:0;
            font-family:@dosis;
            font-size:18px;
        }
    }
}
.conteudo.projetos{
    width:976px;
    .projeto-box{
        text-align:center;
        width: 188px;
        height: 328px;
        display:block;
        float:left;
        margin: 0 3px 6px 3px;
        font-family:@dosis;
        font-size:16px;
        text-decoration:none;
        img{opacity:.6;}
        .lupa{opacity:0;}
        .titulo{
            position:relative;
            display:block;
            width:188px;
            height:33px;
            line-height:33px;
            text-transform:uppercase;
            margin-top:-33px;
            color:#fff;
            background:rgba(60, 60, 60, .9);
        }
        &:hover{
            img{opacity:1;}
            .lupa{opacity:1;}
        }
        .lupa{
            width: 60px;
            height: 60px;
            display: block;
            background: url(http://concept.dev/assets/css/../img/projetos_hover.png);
            position: relative;
            margin-top: -326px;
            margin-left: 126px;
        }
    }
}
.conteudo.pagina.atuacao{
    h2{
        font-size:18px;
        font-family:@dosis;
        color:@marrom;
    }
    #accordion{
        .header{
            width: 500px;
            height: 40px;
            display: block;
            background-color: #fff;
            font-family: @dosis;
            text-decoration: none;
            color: #3C3C3C;
            line-height: 40px;
            margin-top:10px;
            h1{
                font-size: 18px;
                font-weight: normal;
                margin: 0;
                line-height: 40px;
                float:left;
            }
            .item-icone{
                width:13px;
                height: 13px;
                background:url(../img/atuacao_mais.png);
                float:left;
                margin:13px;
            }
            &.ui-state-active{
                background-color:@marrom;
                h1{
                    font-weight:bold;
                    color:#fff;
                }
                .item-icone{
                    background-image: url(../img/atuacao_menos.png);
                }
            }
        }
        .servicos-texto{
            padding-top:10px;
            padding-bottom:10px;
            background:#FFF;
            p{font-family:@dosis;}
            ul{
                margin:0;
                padding:0;
                margin-left:16px;
                list-style-type:none;
                li{
                    background: url(../img/atuacao_seta.png) no-repeat center left;
                    padding-left:21px;
                    font-family:@dosis;
                    margin-bottom:8px;
                }
            }
        }
    }
}
.conteudo.projetos.galeria{
    width:960px;
    .projeto-sidebar{
        width: 200px;
        height: 245px;
        float:left;
        .projeto-meta{
            width:160px;
            padding: 0 20px;
            height: 213px;
            background:#fff;
            text-align:center;
            font-family:@dosis;
            text-align:center;
            h1{
                margin-top:20px;
                margin-bottom:4px;
                font-size:18px;
                text-transform:uppercase;
            }
            .data, .projeto-descricao{color:#898989;}
            .data{font-size:16px;}
            .separador{
                width:160px; 
                height:1px; 
                background:#C5C5C5;
                margin-top:9px;
                margin-bottom:12px;
            }
            .projeto-descricao{
                font-size:14px;
                color:#505050;
            }
        }
        .projeto-navegacao{
            width:200px;
            height:30px;
            margin-top:2px;
            a{color:#fff; text-decoration:none; font-family: @dosis;}
            .nav-container, .grid-container{
                float:left;
            }
            .nav-container{
                width: 74px;
                height: 30px;
                margin-right:1px;
                &.next{margin-right:0;}
                .projeto-anterior, .projeto-proximo{
                    width:74px;
                    height:30px;
                    display:block;
                    line-height:30px;
                    font-size:12px;
                    background-color:#808080;
                    background-image:url(../img/projetos-prev.png);
                    background-repeat: no-repeat;
                    background-position:11px center;
                    &:hover{background-color:@marrom;}
                    span{display:inline-block; float:right; margin-right:11px;}
                }
                .projeto-proximo{
                    background-image: url(../img/projetos-next.png);
                    background-position:57px center;
                    span{float:left; margin-left:11px; margin-right:0;}
                }
            }
            .grid-container{
                width:50px;
                height:50px;
                float:left;
                margin-right:1px;
                .projeto-grid{
                    display:block;
                    width:50px;
                    height:30px;
                    background-color:#808080;
                    background-image:url(../img/grid.png);
                    background-repeat:no-repeat;
                    background-position:center;
                }
            }
        }
    }
    .projeto-galeria{
        width: 730px;
        float:right;
        a{
            display:block;
            width: 242px;
            height: 242px;
            float:left;
            margin-right:1px;
            margin-bottom:1px;
            img{opacity:.6;}
            .projeto-galeria-lupa{
                width: 78px;
                height: 78px;
                background:url(../img/galeria-lupa.png);
                opacity:0;
                float:right;
                margin-top:-78px;
                position:relative;
            }
            &:hover{
                img{opacity:1;}
                .projeto-galeria-lupa{opacity:1;}
            }
        }
    }
}

.conteudo.midias{
    width: 980px;
    margin: 0 auto;
    padding: 30px 0 30px 20px;
    &.detalhe{
        width:1008px;
        padding-left:0;
        padding-bottom:10px;
        margin-bottom:30px;
        #navigation{
            width:100px;
            height:90px;
            padding:10px;
            text-align:center;
            font-weight: bold;
            text-decoration: none;
            position:fixed;
            bottom:75px;
            right:40px;
            display:none;
            .scrollToTop{
                display:block;
                width:99px;
                height:40px;
                line-height:40px;
                background:#333;
                text-decoration:none;
                color:whiteSmoke;
                font-family:@dosis;
                font-size:14px;
                font-weight:normal;
            }
            .prev{
                margin-top:1px;
                margin-right:1px;
                display:block;
                width:49px;
                height:40px;
                float:left;
                background-color:#333;
                background-image:url(../img/projetos-prev.png);
                background-position:center;
                background-repeat:no-repeat;
            }
            .next{
                margin-top:1px;
                display:block;
                width:49px;
                height:40px;
                float:left;
                background-color:#333;
                background-image:url(../img/projetos-next.png);
                background-position:center;
                background-repeat:no-repeat;
            }
        }
        #navigation a:hover{
            text-decoration:none;
        }
    }
    ul.clipping{
        margin:0;
        padding:0;
        margin-bottom:20px;
        list-style-type: none;
        li{
            float:left;
            margin:10px;
            img{
                border:solid 1px #333;
            }
        }
    }
    .midia-box{
        display:block;
        width:176px;
        float:left;
        margin-right:20px;
        margin-bottom:28px;
        text-decoration:none;
        font-family:@dosis;
        color:@marrom;
        img{
            border:solid 6px #FFF;
        }
        .titulo{
            display:block;
            width:176px;
            height:48px;
            background:#FFF;
            margin-top:2px;
            font-size:15px;
            text-align:center;
            line-height:48px;
        }
        .lupa{
            position:relative;
            width: 78px;
            height: 78px;
            display: block;
            background:url(../img/galeria-lupa.png);
            float: right;
            margin-top: -134px;
            margin-right: 6px;
            opacity: 0;
        }
        &:hover{
            .titulo{background:@marrom; color:#FFF;}
            .lupa{opacity:1;}
        }
    }
}

.conteudo.dicas{
    font-family:@dosis;
    .image-wrapper, .video-wrapper{
        width:690px;
        text-align:center;
        margin-bottom:20px;
    }
    .sidebar{
        width:200px;
        background:#FFF;
        float:left;
        ul{
            display:block;
            width:160px;
            margin:0 auto;
            padding:0;
            text-align:center;
            li{
                list-style-type:none;
                border-bottom:solid 1px @marrom ;
                a{
                    text-decoration:none;
                    color:@marrom;
                    font-size:18px;
                    display:block;
                    padding-top:14px;
                    padding-bottom:12px;
                }
                &:nth-child(1){padding-top:0;}
                &:last-child{border-bottom:none; padding-bottom:8px;}
                &.ui-state-active{font-weight:bold;}
            }
        }
    }
    .tabs-content{
        width:690px;
        padding-left:20px;
        padding-right:20px;
        float:right;
        background:#FFF;
        h1{font-size:18px;}
        p{font-size:18px;}
    }
}
.frame-maps{
    margin-top:30px;
    border-bottom: solid 2px #D7D7D7;
}
.conteudo.contato{
    font-family:@dosis;
    p{font-family:@dosis;}
    .contatos{
        width: 330px;
        height: 190px;
        padding:30px 0 0 30px;
        background:white;
        .telefone{
            font-size:42px;
            font-weight:bold;
            line-height:.8em;
        }
        .email{
            font-size:28px;
        }
        .telefone, .email{color:@marrom;}
        .endereco{
            font-size:22px;
        }
        .separador, .endereco{
            color:#898989;
        }
    }
    .form{
        .inputs, .textarea{
            float:left;
        }
        .inputs{
            input{
                width:228px;
                padding-left:15px;
                height:48px;
                line-height:48px;
                font-family:@dosis;
                margin-bottom:8px;
                border:none;
                background-color:#D7D7D7;
                color:@marrom;
            }
        }
        .textarea{
            textarea{
                width:275px;
                height:194px;
                padding:15px;
                background-color:#D7D7D7;
                color:@marrom;
                font-family:@dosis;
                border:none;
                margin-left:8px;
            }
            #contato-submit{
                float:right;
                width:100px;
                height:48px;
                border:none;
                color:white;
                font-family:@dosis;
                font-weight:bold;
                background:@marrom;
                margin-top:8px;
                &:hover{
                    color:#D7D7D7;
                }
            }
        }
    }
    #message{
        padding-top:15px;
    }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
            color: @marrom;
}
input::-webkit-input-placeholder{
}
input:-moz-placeholder, textarea:-moz-placeholder{ 
    color: @marrom;
}
input:-moz-placeholder{
}
    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Image replacement
     */

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }





/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body{min-width:1024px;}
    .grupo, .footer{
        width:1099px;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    /* Remove unwanted elements */
#header, #nav, .noprint
{
display: none;
}

/* Ensure the content spans the full width */
#container, #container2, #content
{
width: 100%; margin: 0; float: none;
}

/* Change text colour to black (useful for light text on a dark background) */
.lighttext
{
color: #000 
}

/* Improve colour contrast of links */
a:link, a:visited
{
color: #781351
}


}
